<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<!-- Navbar section -->
    <section class="Navbarsection">
        <!-- NavBar -->
        <div class="navigation">
            <nav class="nav">
                <a class="nav-link active" href="#">Portfolio</a>
                <a class="nav-link" href="service">Service</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="contact">Contact</a>
            </nav>
            <button class="workWithUs">
                <a href="service">
                Work with us
                </a>
            </button>
        </div>
        <section class="flexboxcontainern">
            <div class="ncontainer">

                <div class="nmiddle">
                    <div class="nleft">

                    </div>
                    <div class="ncontent">
                        <h1>We help talented coaches grow their online businesses.</h1>
                        <p>
                            Helping other people reach their goals — in health, business, or personal mission.
                            
                            We’re a damn good coach who gets your clients results and you’re ready to make a bigger impact.
                            
                            We create minimalist websites with compelling copy so you can empower more people from all around the world.</p>
                            
                        </div>
                    </div>
                    <div class="nright">
                        
                </div>
            </div>
            
        </section>
        
    <!-- ending of navbar -->
    
<!-- Feature section -->
    <section class="featureSection">
        <img src="media-logos-01.svg" style="height: 100px; align-items: center;margin-top: 60px;">
        <img src="media-logos-02.svg" style="height: 100px; align-items: center;margin-top: 60px;">

    </section>
    <!-- End of feature sectio -->
    
    <section class="whatWeDo">
        <div class="serviceText">
            Our Services
        </div>

        <div class="insider">
            <div class="fullStack">
                <div>
                    <img src="Images/web.jpg" alt="" style="width: 50px;border-radius:10px;height:70px;padding-right:2px;margin:10px ;">
                </div>
                <div>
                    <b>Full stack</b><br><br>
                    <p>
                        We develop both client and server software. In addition to mastering HTML and CSS. We likely use JavaScript, jQuery, Angular, or Vue.
                       
                    </p>
                </div>
            </div>
            <div class="seo">
                <div>
                    <img src="Images/seo.jpg" alt="" style="width: 50px;border-radius:10px;height:70px;padding-right:2px;margin:10px ;">
                </div>
                <div>
                    <b>SEO</b><br><br>
                    <p>
                        We do, Search engine optimization. It is the process of improving the quality and quantity of website traffic to a website or a web page from search engines. 
                       
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="seeService">
            <p class="head">Let’s fix your website so it brings you clients who need your help.</p>
            <!-- <img src="unnamed.png" style="width: 46px;height: 48px;left: 666px;top: 2027px;align:center;"> -->
        <p class="ccc">My websites help coaches grow their online businesses.<br><br>
        I’m here to help you get more clients so you can focus<br><br> on the reason you started your online business in the first place:<br><br>
        Help people from all over the world live happier, more fulfilling lives.<br><br>
        Click the button below to find out how we can work together.</p>
            <button class="serviceButton">See service and pricing</button>
        </div>

        <div class="about">
            <p>
                We are here to help you show up for your audience, 
                show them the life that’s possible for them,<br> and help them actually live that life.
            </p>

        </div>

    </section>


    
    <!-- Image section -->
    <section class="flexboxcontainer">
        <div class="container">
            <div class="left">
                <div class="content">
                    <h1>We made a real freakin website ourself.</h1><br>
                    <p>It took hours upon hours of YouTube and far too many weekends, but you figured this out and you are proud.

                        But you’re also feeling:
                        
                        Overwhelmed with tech issues
                        Disappointed that no one’s signing up for your newsletter
                        Anxious because your calendar’s so empty</p>
                        
                </div>
            </div>
            <div class="right">

            </div>
        </div>
        
    </section >
    <section class="flexboxcontainer">
        <div class="containerT">
          <div class="leftT"></div>
          <div class="rightT">
            <div class="contentT">
              <h1>We can turn this around and build a website that actually works for your coaching business.</h1>
              <p>We create websites for coaches like you so you can focus on helping your clients change their lives.

                We’ve helped my clients...
                
                Grow their email lists and fill them with ideal clients
                Book out their calendars with sales calls
                Sign new clients who are fun and easy to work with
                Increase their prices and hit their income goals
                We can help you, too.</p>
            </div>
        </div>
    </div>
</section>
<section class="flexboxcontainer">
    <div class="container">
        <div class="left">
            <div class="content">
                <h1>Websites are hard when you’re trying to do it all on your own.</h1>
                <p>We see it all the time with my clients.

                    Most have struggled through hours of tech tutorials. Some even have horror stories about freelancers who ghosted on them (after they paid thousands of dollars in deposit fees).
                    
                    They’ve taken marketing advice that isn’t relevant to their business and ended up with websites that don’t get results.
                    
                    And what I see way too often is online coaches getting to this point and just giving up.                    
                </div>
            </div>
            <div class="right">

            </div>
        </div>
    </section>

    <!-- Service -->
    <section class="flexboxcontainer" class="containerService">
        <div class="exist">
            <div class="flex-container-row">
                <!-- <div>1</div> -->
                <div>
                    <br>
                    <h2>When We build your website, We use the perfect combination<br> of our skills and experience.</h2>
                </div>
                <!-- <div>3</div> -->
          
            </div>
            <div class="flex-container-column">
                <div>
                    <img src="../Images/business.png" alt="">
                    <h3>Business</h3>
                    <p>We lead this business with the mission to provide cutting-edge online marketing solutions to various businesses across the globe, in a cost-effective manner.</p>
                </div>
                <div>
                    <img src="../Images/webdesign.png" alt="">
                    <h3>Web design</h3>
                    <p>We help you build the right website for your requirements, be it a corporate website, e-commerce portal or a cloud-based solution.</p>
                </div>
                <div>
                    <img src="../Images/content.png" alt="">
                    <h3>Content Writing</h3>
                    <p>We do the process of planning, writing and editing web content, typically for digital marketing purposes.</p>
                </div> 
                <div>
                    <img src="../Images/digital.png" alt="">
                    <h3>Digital Marketing</h3>
                    <p>Launching a website is just the beginning, and we help you acquire customers through digital marketing and social media.</p>
                </div>
            </div>
        </div>
            
    </section>

    <!-- Testimonial -->
    <section class="flexboxcontainer"> 
        <div class="containertest">
            <div class="card">
                <img src="../Images/test1.jpg" alt="Avatar" style="width:100%;height: 250px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <div class="containertestin">
                  <h4><b>John Doe</b></h4> 
                  <p style="font-weight: 350">“They are incredible web designer with killer copywriting skills. The work is mind‑blowing.

                    They really understands their clients and their challenges. Unlike most other designers, They able show the valuable results.”</p> 
                </div>
            </div>
            <div class="card">
                <img src="../Images/testimonial2.jpg" alt="Avatar" style="width:100%;height: 250px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <div class="containertestin">
                  <h4><b>Louise Henry</b></h4> 
                  <p style="font-weight: 350">“There’s no one I’d trust more with my 700+ clients and their websites than yours. You are expert in tech and strategy who creates beautiful websites that help businesses grow.</p> 
                </div>
            </div>
            <div class="card">
                <img src="../Images/test3.jpg" alt="Avatar" style="width:100%;height: 250px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <div class="containertestin">
                  <h4><b>Chris Morga</b></h4> 
                  <p style="font-weight: 350">“I love how EASY you are to work with! I felt like I was in safe hands from start to finish. Thank you!

I love your simple, fresh, and feminine design style and you were a dream to work with.”</p> 
                </div>
            </div>
            
        </div>
    </section>

    <!-- footer -->
    
    <div class="container"></div>
<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">eBooks</a></li>
        <li><a href="#">Webinars</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sales</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Subscribe to our newsletter to get our latest news.</p>
      <form>
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li> -->
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li> &copy; 2021 Copyright G1 incorp</li>
    </ul>
  </section>
</footer>
    <script type="text/javascript">
        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        // document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

    </script>
<script src="https://kit.fontawesome.com/c9f619f946.js" crossorigin="anonymous"></script>    
</body>
</html>
